{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block body %}

<div class="row" style="background: lightblue;">
	<div class="col-auto">
		<img src="https://gumlet.assettype.com/newslaundry%2F2020-05%2F5def7fc8-11f2-41d0-81c0-988314bd6b54%2FdocAI.jpg?auto=format%2Ccompress&fit=max&w=376&dpr=2.6" alt="helper" class="w-75 py-2">
	</div>
	<div class="col-auto py-5">
		<div class="container">
			<h1 style="text-align: center; font-size: 60px;">Go Corona</h1>
			<p>Doctors are the real super heroes!</p>
		</div>
		<a href="https://www.cowin.gov.in/home" role="button" class="btn btn-primary px-5 my-5 mx-3">Covaxin Portal</a>
	</div>
</div>

<div class="container" style= "margin-top:5rem;">
<div class="card mb-3" style="max-width: 980px">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://www2.lehigh.edu/sites/www2/files/2020-11/DannyZane-podcast.jpg" class="card-img" alt="..." style="
    	object-fit: cover;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2>What is CoronaVirus</h2>
        <hr>
        <p class="card-text">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered 		coronavirus.
			Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
			</p>
        <a type="button" href="/abts" class="btn btn-primary">Keep Reading...</a>
      </div>
    </div>
  </div>
</div>
</div>
<hr>

<div class="container" style="margin-top: 3rem;">
	<h3><u>Top Stories</u></h3>
<div class="card-deck">
<div class="card">
    <img class="card-img-top" src="https://static.toiimg.com/thumb/msid-74455441,width-800,height-600,resizemode-75,imgsize-800495,pt-32,y_pad-40/74455441.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <a href="https://www.youtube.com/watch?v=KvLvfQpwE4A"><h5 class="card-title">Improving Mental health</h5></a> -->
      <a href="https://www.news18.com/news/india/what-is-dog-coronavirus-found-in-humans-and-why-you-shouldnt-worry-all-your-queries-answered-3789065.html"><p class="card-text">What is Dog CoronaVirus in Humans and Why You Shouldn't Worry:All your...</p></a>
    </div>
  </div>
<div class="card">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/593D/production/_118154822_optimised-india_cases_deaths_22apr-nc-002.png" alt="Card image cap">
    <div class="card-body">
      <!-- <a href="https://www.youtube.com/watch?v=KvLvfQpwE4A"><h5 class="card-title">Improving Mental health</h5></a> -->
      <a href="https://www.news18.com/news/india/what-is-dog-coronavirus-found-in-humans-and-why-you-shouldnt-worry-all-your-queries-answered-3789065.html"><p class="card-text">Covid Cases In India.Stay Safe....</p></a>
    </div>
  </div>
<div class="card">
    <img class="card-img-top" src="https://images.indianexpress.com/2021/05/black-fungus-6-1.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <a href="https://www.youtube.com/watch?v=KvLvfQpwE4A"><h5 class="card-title">Improving Mental health</h5></a> -->
      <a href="https://www.news18.com/news/india/what-is-dog-coronavirus-found-in-humans-and-why-you-shouldnt-worry-all-your-queries-answered-3789065.html"><p class="card-text">Other disease Black,yellow Fungus got detected</p></a>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 2rem;">
<div class="card-deck">
<div class="card">
    <img class="card-img-top" src="https://images.indianexpress.com/2021/04/delhi-covid-8.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <a href="https://www.youtube.com/watch?v=KvLvfQpwE4A"><h5 class="card-title">Improving Mental health</h5></a> -->
      <a href="https://www.news18.com/news/india/what-is-dog-coronavirus-found-in-humans-and-why-you-shouldnt-worry-all-your-queries-answered-3789065.html"><p class="card-text">What is Long CoronaVirus? How long do recovered patients feel like symptoms.</p></a>
    </div>
  </div>
<div class="card">
    <img class="card-img-top" src="https://images.moneycontrol.com/static-mcnews/2021/05/covid-india-variant-uk-770x433.jpg?impolicy=website&width=770&height=431" alt="Card image cap">
    <div class="card-body">
      <!-- <a href="https://www.youtube.com/watch?v=KvLvfQpwE4A"><h5 class="card-title">Improving Mental health</h5></a> -->
      <a href="https://www.news18.com/news/india/what-is-dog-coronavirus-found-in-humans-and-why-you-shouldnt-worry-all-your-queries-answered-3789065.html"><p class="card-text">Covid In England:what is the impact of lifting restrictions on 21 June.</p></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://news.usc.edu/files/2020/03/anxiety-depression-coronavirus-web-824x549.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <a href="https://www.youtube.com/watch?v=KvLvfQpwE4A"><h5 class="card-title">Improving Mental health</h5></a> -->
      <a href="https://www.news18.com/news/india/what-is-dog-coronavirus-found-in-humans-and-why-you-shouldnt-worry-all-your-queries-answered-3789065.html"><p class="card-text">How long is a person contagious with coronavirus?</p></a>
    </div>
  </div>
</div>
</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<hr>

<div class="container" style= "margin-top:2rem;">
<div class="card mb-3" style="max-width: 980px">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Connect With Our Doctors</h1>
        <button href="#" class="btn btn-primary">Connect</button>
      </div>
    </div>
     <div class="col-md-4">
      <img src="https://i.pinimg.com/originals/4b/2b/ed/4b2bed966c23f80ef5b1082bd9c39fe3.jpg" class="card-img" alt="..." style="
    	object-fit: cover;">
    </div>
  </div>
</div>
</div>
<hr>

<div class="container" style="margin-top:3rem;">
	<h2>Connect With People</h2>
	<div class=" row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
			<strong class="d-inline-block mb-2 text-primary">Post Your Requirements Here</strong>
			<h3 class="mb-0">Featured post</h3>
			<div class="mb-1 text-muted">Nov 12</div>
			<p class="card-text mb-auto">Covid Cases in Delhi</p>
			<div class="col-auto d-none d-lg-block">
				<a href="/blog" role="button" class="btn btn-primary btn-lg">Go to blogs</a>
			</div>
		</div>
	</div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- <div class="container" style="margin-top: 3rem;">
	<h2 style="text-align: center;">Download the App</h2>
<div class="row" >
	<div class="col-auto">
		<img src="https://english.cdn.zeenews.com/sites/default/files/2021/05/27/939268-untitled-design-91.png" alt="helper" class="w-75 py-2">
	</div>
	<div class="col-auto py-5">
		<div class="container">
			<h1 style="text-align: center; font-size: 60px;">Go Corona</h1>
			<p>Doctors are the real super heroes!</p>
		</div>
		<a href="https://www.cowin.gov.in/home" role="button" class="btn btn-primary px-5 my-5 mx-3">Covaxin Portal</a>
	</div>
</div>
</div> -->


{% endblock body %}